@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato:ital,wght@1,100;1,400&family=Quicksand&family=Roboto&display=swap");
body {
  font-family: Inter, "Courier New", Courier, monospace;
}

.container {
  width: 1284px;
  margin: auto;
}

.ellipse23 {
  background: linear-gradient(170.98deg, rgba(95, 56, 255, 0.35) 25.59%, rgba(255, 14, 222, 0.35) 100.44%);
  filter: blur(86px);
  transform: rotate(11.97deg);
  border-radius: 50%;
}

.ellipse26Purple {
  border-radius: 50%;
  background: radial-gradient(95.38% 95.38% at 50.77% 4.62%, #DEA8FF 0%, #9D6AD9 44.51%, #7A2BF6 100%);
  transform: rotate(-25.73deg);
}

.ellipse25 {
  background: radial-gradient(95.38% 95.38% at 50.77% 4.62%, #DEA8FF 0%, #9D6AD9 44.51%, #7A2BF6 100%);
  filter: blur(12px);
  transform: rotate(-25.73deg);
  border-radius: 50%;
}

.upScreen {
  height: 1030px;
  background: #1D2532;
  position: relative;
  z-index: 10;
  margin-bottom: 195px;
}
@media (max-width: 740px) {
  .upScreen {
    margin-bottom: 70px;
  }
}
@media (max-width: 500px) {
  .upScreen {
    height: 735px;
  }
}
@media (max-width: 1350px) {
  .upScreen__container {
    width: 900px;
  }
}
@media (max-width: 940px) {
  .upScreen__container {
    width: 700px;
  }
}
@media (max-width: 740px) {
  .upScreen__container {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .upScreen__container {
    width: 288px;
  }
}
.upScreen__header {
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  margin-bottom: 218px;
}
@media (max-width: 500px) {
  .upScreen__header {
    justify-content: center;
    padding-top: 15px;
    margin-bottom: 48px;
  }
}
.upScreen__logo {
  font-size: 40px;
  color: #FFFFFF;
  display: flex;
}
.upScreen__rightBlock {
  display: flex;
  align-items: center;
}
.upScreen__ellipse26PurpleLogoCircle {
  width: 41.05px;
  height: 41.05px;
}
@media (max-width: 500px) {
  .upScreen__ellipse26PurpleLogoCircle {
    width: 27.27px;
    height: 27.27px;
  }
}
.upScreen__logoText {
  margin-left: 11px;
}
@media (max-width: 740px) {
  .upScreen__logoText {
    font-size: 35px;
  }
}
@media (max-width: 500px) {
  .upScreen__logoText {
    font-size: 25px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 740px) {
  .upScreen__links {
    display: none;
  }
}
.upScreen__link {
  color: #CECECE;
  font-size: 23px;
  line-height: 120%;
  text-decoration: none;
}
.upScreen__link_marginLeft {
  margin-left: 100px;
}
@media (max-width: 1350px) {
  .upScreen__link_marginLeft {
    margin-left: 20px;
  }
}
.upScreen__accountButtonBlock {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 150px;
}
@media (max-width: 1350px) {
  .upScreen__accountButtonBlock {
    margin-left: 50px;
  }
}
@media (max-width: 940px) {
  .upScreen__accountButtonBlock {
    margin-left: 25px;
  }
}
@media (max-width: 740px) {
  .upScreen__accountButtonBlock {
    display: none;
  }
}
.upScreen__accountButton {
  box-sizing: border-box;
  width: 175px;
  height: 51px;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0);
  transition: 0.1s;
}
.upScreen__accountButton:hover {
  color: #C3F33B;
  border: 1px solid #C3F33B;
}
.upScreen__accountButton:active {
  background: rgba(224, 255, 172, 0.05);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}
.upScreen__ellipse23UpLeft {
  position: absolute;
  width: 414.9px;
  height: 414.9px;
  left: -30px;
  z-index: -1;
}
@media (max-width: 500px) {
  .upScreen__ellipse23UpLeft {
    width: 237.71px;
    height: 237.71px;
  }
}
.upScreen__menuButtonBlock {
  margin-left: 150px;
  display: none;
}
@media (max-width: 740px) {
  .upScreen__menuButtonBlock {
    display: block;
  }
}
@media (max-width: 400px) {
  .upScreen__menuButtonBlock {
    margin-left: 80px;
  }
}
.upScreen__menuButton {
  width: 40px;
  height: 16px;
  border: none;
  background: rgba(255, 255, 255, 0);
}

.upScreen__main {
  display: flex;
  color: #FFFFFF;
  position: relative;
  z-index: 10;
}
@media (max-width: 1350px) {
  .upScreen__main {
    justify-content: center;
  }
}
.upScreen__mainLeftBlock {
  display: flex;
  flex-direction: column;
  width: 717px;
}
.upScreen__text {
  display: flex;
  flex-direction: column;
}
@media (max-width: 740px) {
  .upScreen__text {
    align-items: center;
  }
}
.upScreen__title {
  font-size: 72px;
  line-height: 105%;
  letter-spacing: -0.03em;
  margin-bottom: 34px;
}
@media (max-width: 1350px) {
  .upScreen__title {
    font-size: 60px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .upScreen__title {
    font-size: 25px;
    width: 248px;
    margin-bottom: 16px;
  }
}
.upScreen__title_bold {
  font-weight: 900;
  letter-spacing: -0.01em;
}
.upScreen__description {
  font-size: 23px;
  line-height: 120%;
  color: #CECECE;
  width: 500px;
  margin-bottom: 75px;
}
@media (max-width: 1350px) {
  .upScreen__description {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .upScreen__description {
    font-size: 18px;
    width: 239px;
    margin-bottom: 40px;
  }
}
.upScreen__nftButton {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #242424;
  width: 331px;
  height: 66px;
  background: linear-gradient(92.84deg, #1DD844 1.44%, #CBF62E 126.29%);
  box-shadow: 0px 0px 10px 2px rgb(29, 216, 69);
  border-radius: 20px;
  border: 0;
  transition: 0.2s;
}
.upScreen__nftButton:hover {
  box-shadow: 0px 0px 20px 7px rgb(29, 216, 69);
}
.upScreen__nftButton:active {
  box-shadow: 0px 0px 15px 2px rgb(29, 216, 69);
}
@media (max-width: 1350px) {
  .upScreen__nftButton {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .upScreen__nftButton {
    font-size: 16px;
    height: 50px;
  }
}
@media (max-width: 1350px) {
  .upScreen__mainRightBlock {
    display: none;
  }
}
.upScreen__manImg {
  width: 920px;
  height: 815px;
  position: absolute;
  right: -105px;
  top: -140px;
  z-index: -1;
}
@media (max-width: 1500px) {
  .upScreen__manImg {
    width: 700px;
    height: 600px;
    right: -10px;
    top: -60px;
  }
}
.upScreen__man1ImgBlock {
  display: none;
}
@media (max-width: 500px) {
  .upScreen__man1ImgBlock {
    display: block;
    margin-bottom: 16px;
  }
}
@media (max-width: 500px) {
  .upScreen__man1Img {
    width: 300px;
    height: 321px;
  }
}

.upScreen__burgerMenuBlock {
  z-index: 12;
  overflow: auto;
  z-index: 11;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(48, 9, 97, 0.3);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}
.upScreen__burgerMenuBlock__show {
  display: flex;
}
.upScreen__burgerMenu {
  width: 400px;
  height: 392px;
  left: 340px;
  top: 0px;
  position: absolute;
  box-sizing: border-box;
  padding: 24px 20px;
  background: #293344;
  border-radius: 0px 0px 0px 30px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 740px) {
  .upScreen__logoBurgerMenu {
    margin-bottom: 62.8px;
  }
}
@media (max-width: 740px) {
  .upScreen__linksBurgerMenu {
    display: block;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
}
.upScreen__linkBurgerMenu {
  margin-bottom: 20px;
}
.upScreen__link_marginLeftBurgerMenu {
  margin-left: 0px;
}
@media (max-width: 740px) {
  .upScreen__accountButtonBlockBurgerMenu {
    display: block;
  }
}
.upScreen__closeButtonBurgerMenu {
  height: 22px;
  width: 22px;
  right: 27px;
  top: 31px;
  position: absolute;
}

.infoBlock {
  position: relative;
  height: 1093px;
  box-sizing: border-box;
  background: linear-gradient(212.69deg, #323E51 4.9%, #1D2532 55.16%);
  border-radius: 20px;
  padding-top: 130px;
  z-index: 0;
  margin-bottom: 200px;
}
@media (max-width: 1350px) {
  .infoBlock {
    height: 1497px;
    padding-top: 40px;
  }
}
@media (max-width: 1350px) {
  .infoBlock__container {
    width: 900px;
  }
}
@media (max-width: 940px) {
  .infoBlock__container {
    width: 700px;
  }
}
@media (max-width: 740px) {
  .infoBlock__container {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .infoBlock__container {
    width: 320px;
  }
}
.infoBlock__titleBlock {
  margin-bottom: 65px;
  position: relative;
}
@media (max-width: 500px) {
  .infoBlock__titleBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}
.infoBlock__title {
  font-weight: 600;
  font-size: 45px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1350px) {
  .infoBlock__title {
    font-size: 35px;
  }
}
@media (max-width: 940px) {
  .infoBlock__title {
    font-size: 23px;
  }
}
@media (max-width: 500px) {
  .infoBlock__title {
    width: 180px;
    text-align: center;
  }
}
.infoBlock__ellipse26Blue {
  position: absolute;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  left: 172px;
  top: -20px;
  background: radial-gradient(63.25% 73.53% at 65.32% 77.65%, #045DFA 0%, #0FC1D7 83.16%, #06F6C7 100%);
  transform: rotate(7.77deg);
}
@media (max-width: 1350px) {
  .infoBlock__ellipse26Blue {
    left: 60px;
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 740px) {
  .infoBlock__ellipse26Blue {
    left: 20px;
    top: 4px;
    width: 21.91px;
    height: 21.91px;
  }
}
.infoBlock__cardsBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 70px 50px;
  padding: 0 315px;
}
@media (max-width: 1350px) {
  .infoBlock__cardsBlock {
    padding: 0;
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
.infoBlock__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 300px;
  height: 310px;
  background: rgba(51, 62, 81, 0.7);
  color: #FFFFFF;
  -webkit-backdrop-filter: blur(30.5px);
          backdrop-filter: blur(30.5px);
  border-radius: 20px;
  padding: 45px 20px 0;
  box-shadow: 0px 33px 1px -15px rgba(51, 62, 81, 0.6);
}
@media (max-width: 1350px) {
  .infoBlock__card {
    width: 260px;
    height: 273px;
  }
}
.infoBlock__imgBlock {
  margin-bottom: 18px;
}
.infoBlock__img {
  width: 83px;
  height: 83px;
}
.infoBlock__description {
  text-align: center;
  font-size: 19px;
  line-height: 25px;
  letter-spacing: -0.7px;
}
@media (max-width: 1350px) {
  .infoBlock__description {
    font-size: 16px;
  }
}
.infoBlock__ellipse23UpRight {
  position: absolute;
  width: 440.01px;
  height: 440.01px;
  left: 785px;
  top: 0px;
  z-index: -1;
}
@media (max-width: 1350px) {
  .infoBlock__ellipse23UpRight {
    width: 137.41px;
    height: 137.41px;
    left: 680px;
  }
}
@media (max-width: 940px) {
  .infoBlock__ellipse23UpRight {
    width: 137.41px;
    height: 137.41px;
    left: 100px;
  }
}
.infoBlock__ellipse23BottomLeft {
  position: absolute;
  width: 440.01px;
  height: 440.01px;
  left: 45px;
  bottom: 25px;
  z-index: -1;
}
@media (max-width: 1350px) {
  .infoBlock__ellipse23BottomLeft {
    display: none;
  }
}
.infoBlock__ellipse26PurpleUpRight {
  position: absolute;
  width: 151.89px;
  height: 151.89px;
  right: 117px;
  top: -95px;
  z-index: -1;
}
@media (max-width: 740px) {
  .infoBlock__ellipse26PurpleUpRight {
    right: 17px;
    top: -64px;
    width: 87.59px;
    height: 87.59px;
  }
}
.infoBlock__ellipse25BottomRight {
  position: absolute;
  width: 131.66px;
  height: 131.66px;
  right: 156px;
  bottom: 123px;
  z-index: -1;
}
@media (max-width: 1350px) {
  .infoBlock__ellipse25BottomRight {
    bottom: 10px;
    right: 10px;
  }
}
@media (max-width: 500px) {
  .infoBlock__ellipse25BottomRight {
    width: 62.86px;
    height: 62.86px;
    bottom: 20px;
    right: 25px;
  }
}

.modalBlock {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 11;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(48, 9, 97, 0.3);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}
.modalBlock__show {
  display: flex;
}

.movieModal {
  position: relative;
  display: flex;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  flex-direction: column;
  align-items: center;
  width: 670px;
  height: 425px;
  border-radius: 30px;
  color: #ffffff;
  background: radial-gradient(42.84% 203.07% at 15.58% -40.39%, #323E51 0%, #1D2532 100%);
  margin: auto;
  padding: 56px 70px;
  box-sizing: border-box;
}
.movieModal__container {
  width: 471px;
}
.movieModal__text {
  width: 100%;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
}
.movieModal__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 105%;
  letter-spacing: -0.03em;
  margin-bottom: 25px;
}
.movieModal__description {
  font-size: 21px;
  line-height: 120%;
  margin-bottom: 35px;
}
.movieModal__input {
  padding: 15px 268px 15px 20px;
  width: 471px;
  height: 52px;
  background: #FFFFFF;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 18px;
}
.movieModal__closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

.bottomBlock__modalNftButton {
  width: 471px;
  height: 52px;
}

.stopScrollong {
  height: 100%;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */